
.change-bg{
    position: relative;
    z-index: 10;
}
.change-bg > div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 1855px;
    min-width: 1000px;
   /* display: none; */
}
.container{
    width: 1000px;
    margin: 0 auto;
    min-width: 1000px;
    padding-top: 387px;
    padding-bottom: 75px;
    position: relative;
    z-index: 20;
}
.area-bg{
    background: rgba(52, 38, 33, .6);
    padding: 10px;
}
.game-group-inner{
    background:rgba(255, 255, 255, .8);
    padding: 8px 32px;
    position: relative;
}
.game-name-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:#44454c;
}
.login-inner{
    position: absolute;
    top:12px;
    font-size: 16px;
    right: 32px;
    color: #44454c;
}
.login-inner p{
    height: 42px;
    line-height: 42px;
}
.login-inner .login-btn{
    display: inline-block;
    width: 87px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: url('../img/login1.png') 0 0 no-repeat;
    margin-left: 10px;
}
.login-btn:hover{
    color: #fff;
    background: url('../img/login2.png') 0 0 no-repeat;
}
.game-list{
    text-align: center;
    margin-top: 10px;
}
.game-list li{
    display: inline-block;
    width: 150px;
    margin-right: 37px;
    margin-bottom: 10px;
}
.game-list li:last-child{
    margin-right: 0;
}
.game-list li a{
    display: block;
}
.game-list li img{
    display: block;
    width: 150px;
    height: 150px;
}
.game-list li p{
    font-size: 24px;
    font-weight: bold;
    color: #44454c;
    margin-top: 3px;
}
.game-container{
    margin-top: 14px;
}
.game-container-inner{
    background: rgba(255, 255, 255, .8);
    padding: 8px 16px;
    position: relative;
}
.game-container-title{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    color:#44454c;
}
.start-game{
    display: block;
    width: 260px;
    height: 107px;
    margin: 25px auto 0;
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-image: url('../img/start-game.png');   
}
.start-game.active{
    -webkit-animation: moveBg 1s infinite;
    animation: moveBg 1s infinite;
}
@keyframes moveBg{
    0%{
        background-image: url('../img/start-game.png');
    }
    50%{
        background-image: url('../img/start-game1.png');
    }
    100%{
        background-image: url('../img/start-game.png');
    }
}
@-webkit-keyframes moveBg{
    0%{
        background-image: url('../img/start-game.png');
    }
    50%{
        background-image: url('../img/start-game1.png');
    }
    100%{
        background-image: url('../img/start-game.png');
    }
}
.start-game:hover{
    background-image: url('../img/start-game2.png') !important;
}
.select-area{
    overflow: hidden;
}
.choose-area{
    float: left;
    margin-left: 325px;
    height: 26px;
    line-height: 26px;
    margin-top: 34px;
}
.choose-area span,.choose-area select{
    float: left;
}
.choose-area select {
    width: 156px;
    height: 26px;
    border: 1px solid #062C49;
    text-indent: 10px;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    background: #5D6BB8;
    cursor: pointer;
}
.btn{
    position: relative;
    display: block;
    width: 187px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: url('../img/btn-bg1.png') 0 0 no-repeat;
}
.btn:hover{
    color: #fff;
    background: url('../img/btn-bg2.png') 0 0 no-repeat;
}
.my-code{
    float: right;
    margin-top: 27px;
    margin-right: 119px;
}
.tab-qian {
    position: absolute;
    top: -7px;
    right: -6px;
    width: 50px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    z-index: 2;
    display: block;
    font-style: normal;
    font-size: 12px;
}
.tab-qian.red{
    background: #F52727;
}
.tab-qian.orgb{
    background: #FF7800;
}
.reward-tj{
    margin-top: 19px;
}
.reward-tj-list{
    width: 935px;
    margin: 0 auto;
}
.reward-tj-list li{
    border-bottom: 1px solid #969ECD;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
}
.reward-tj-list li:first-child{
    padding: 0 0 30px;
}
.reward-tj-list li:last-child{
    border: none;
}
.reward-tj-txt{
    height: 42px;
    line-height: 42px;
}
.reward-tj-list li span{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.h-small{
    font-size: 16px !important;
    font-weight: normal !important;
    width: 52px;
}
.reward-tj-list li a{
    float: right;
    margin-right: 112px;
}
.reward-tj-list li span:first-child{
    margin-left: 115px;
    width: 210px;
}
.reward-tj-tips{
    position: absolute;
    bottom: 15px;
    overflow: hidden;
    left: 132px;
    color: #3a3a3a;
}
.reward-tj-tips p{
    float: left;
}
.reward-tj-tips p:first-child{
    margin-right: 128px;
}
.special{
    color: #a80505;
}
.game-guide{
    padding-top: 0 !important;
}
.game-guide-inner{
    background: rgba(255, 255, 255, .8);
    padding: 8px 16px;
    position: relative;
}
.game-guide-title{
    margin: 0 auto;
    width: 154px;
    height: 35px;
    background: url('../img/guide.png') 0 0 no-repeat;
}
.game-guide-box{
    overflow: hidden;
    margin-top: 20px;
}
.img-link-btn{
    float: left;
    width: 474px;
    height: 437px;
    background: url('../img/img-link.png') 0 0 no-repeat;
}
.img-link-btn:hover {
    background: url('../img/img-linked.png') 0 0 no-repeat;
}
.game-guide-box-fr{
    float: right;
    width: 440px;
}
.game-guide-btn{
    overflow: hidden;
}
.activeObtain{
    float: left;
    width: 230px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    background: #0786E5;
}
.activeObtain:hover{
    background: #FF7800;
}
.btn4{
    float: right;
    margin-top: 7px;
}
.action{
    margin-top: 65px;
}
.action-title{
    width: 155px;
    height: 35px;
    margin-bottom: 32px;
    background: url('../img/action-title.png') 0 0 no-repeat;
}
.model-box {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    z-index: 1000;
}
.model-content{
    border-radius: 3px;
    position: absolute;
    color: #393939;
    background: #fff;
    width: 500px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}
.close-btn1 {
    position: absolute;
    width: 39px;
    height: 39px;
    background: url(../img/close-btn1.png) 0 0 no-repeat;
    top: 0;
    right: -39px;
}
.model-box h3 {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}
.sure {
    display: block;
    width: 83px;
    height: 42px;
    background: url(../img/sure.png) 0 0 no-repeat;
    margin: 15px auto;
}
.activeCode {
    position: relative;
    margin-bottom: 15px;
}
.activeCode span {
    width: 84px;
    text-align: right;
    margin-right: 10px;
}
.activeCode input {
    width: 368px;
    font-weight: 700;
    border: 1px solid #343434;
    font-size: 18px;
    height: 32px;
    outline: none;
    text-indent: 10px;
    color: #343434;
    box-sizing: border-box;
    line-height: 32px;
}
.activeCopy {
    position: absolute;
    right: 39px;
    top: 0;
    width: 100px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #0786E5;
    text-align: center;
}
.model-content p {
    color: #f6903d;
    font-size: 14px;
    line-height: 32px;
    font-weight: 100;
}
.fixed-link{
    position: fixed;
    bottom: 300px;
    left: 50%;
    margin-left: 500px;
    z-index: 99;
    display: none;
}
.fixed-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -667px;
    z-index: 99;
    width: 325px;
    height: 295px;
    background: url(../fixed-logo.png) top center no-repeat;
}
.center{
    display: block;
    width: 110px;
    height: 112px;
    background: url('../img/center.png') -111px 0 no-repeat;
}
.center:hover{
    background: url('../img/center.png') -1px 3px no-repeat;
}
.toTop{
    display: block;
    width: 57px;
    height: 57px;
    background: url('../img/top.png') -56px -1px no-repeat;
    margin-left: 25px;
    margin-top: 5px;
}
.toTop:hover{
    display: block;
    width: 57px;
    height: 57px;
    background: url('../img/top.png') 0 0 no-repeat;
}